@import "src/sass/abstract/constants";
.video {
  //border: 1px solid green;
  //padding: 1rem;
  margin: 1rem;
  //min-width: 500px;
  @media screen and (max-width: $content-width-little) {
    margin: .5rem auto 0;
    width: 88vw;
  }
  width: 55vw;
  height: 40vw;
}