@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "src/sass/abstract/constants";

.gallery {
  //display: flex;
  //padding: 1rem;
  //margin-top: 1rem;
  margin-top: 1rem;
  width: 40vw;
  //min-width: 310px;
  @media screen and (max-width: $content-width-little) {
    margin: 0 auto;
    margin-top: .5rem;
    width: 88vw;
  }
  //height: 30vw;
}