.card {
  width: 300px;
  height: 250px;
  background: rgba(144, 219, 175, 0.527);
  text-align: center;
  margin: 1rem;
  overflow: hidden;
  h2, h3 {
    margin: 0.5rem;
  }
  img {
    width: 100%;
  }
}