@import "src/sass/abstract/constants";
.description {
  //border: 1px solid green;
  //padding: 1rem;
  width: 47vw;
  @media screen and (max-width: $content-width-little) {
    width: 90vw;
    margin: 0 auto;
  }
}