.widgets{
  //display: flex;
  justify-content: center;
  //margin: 1em;
  margin-left: 1em;
  margin-top: 20px;
  float: right;
  background: #DAA26F;
  border-radius: 0.5rem;
  padding: 0.7rem;
}
.widgets-container{
  //display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-container{
  //display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  //font-size: larger;
  font-weight: bold;
  //border: 2px solid green;
  //border-radius: 0.5rem;
  //padding: 0.7rem;
  //background-color: rgb(48, 119, 211);
}
.city-name{
  margin-right: 0.3em;
}
.weather-icon{
  width: 40px;
}
