.widgets{
  display: flex;
  justify-content: center;
  margin: 1em;
}
.widgets-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-container{
  //display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  font-size: larger;
  font-weight: bold;
  border: 2px solid green;
  border-radius: 0.5rem;
  padding: 0.7rem;
  background-color: white;
}
.city-name{
  margin-right: 0.3em;
}
.weather-icon{
  width: 40px;
}
