@import "src/sass/abstract/constants";
.map {
  border: 1px solid #DAA26F;
  //margin: 1rem;
  width: 45vw;
  //min-height: 500px;
  margin-top: 20px;
  @media screen and (max-width: $content-width-little) {
    width: 88vw;
    margin: 0 auto;
    height: 95vw;
    margin-top: .5rem;
  }
}