@import "src/sass/abstract/constants";
.content-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  margin: 120px auto 0;
  max-width: 1440px;
}

.content-country {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  .wrapper1 {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: $content-width-little) {
      padding: .5rem;
      padding-top: 1rem;
    }
  }
  .wrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}