@import "src/sass/abstract/constants";
@import "src/sass/abstract/mixins";

.navigation {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  padding: 1rem;

  //--color-background: $color-navigation-dark;
  --color-foreground: #fff;
  --color-button-background: $color-main-green;
  --color-button-foreground: $color-white;
  --color-search-bar-background: rgba(255, 255, 255, 0.95);
  --color-search-bar-background-focus: $color-white;
  --color-search-bar-placeholder: $color-search-bar-grey;

  background: #35C0CD;
  //background: var(--color-background,#35C0CD);

  top: 0;
  left: 0;
  right: 0;
  min-height: 66px;
  align-items: center;
  justify-content: center;
  padding: 0 1.15rem;
  z-index: 3;

  @media screen and (max-width: $content-width-pre-little) {
    background: #35C0CD;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center; 
  }

  //&__transparent {
  //  --color-background: none;
  //  --color-search-bar-background: none;
  //  --color-search-bar-background-focus: none;
  //  --color-search-bar-placeholder: none;

  //  .navigation__search-bar {
      //display: none;
    //  opacity: 0;
    //}
  //}

  &>*:not(:last-child) {
    margin-right: 2.15rem;
    @media screen and (max-width: $content-width-pre-little) {
      margin: 0 auto;
    }
  }

  &__logo {
    //margin-left: 10rem;
    grid-area: 1 / 1 / 2 / 2;
    &:hover {
      cursor: pointer;
    }
    &:hover .plane {
      fill: #DAA26F;
      transition: all .5s ease;
    }
    #text1, #text2 {
      fill: #793D06;
    }
    .plane {
      fill: #05414A;
      transition: all .5s ease;
    }
  }

  &__search-bar {
    max-width: 750px;
    width: 100%;
    grid-area: 2 / 1 / 3 / 3;
    @media screen and (max-width: $content-width-pre-little) {
      width: 95%;
      margin: 0 auto;
    }
  }

  .selectLang {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    font-family: Arial;
    margin-right: 2.15rem;
    @media screen and (max-width: $content-width-pre-little) {
      margin-left: 2.15rem;
      margin-right: 0;
    }
  
    & select {
      border: none;
      border-radius: 6px;
      color: rgb(26, 26, 26);
      min-width: 130px;
      //width: 100%;
      height: 47px;
      font-size: 17px;
      line-height: 22px;
      font-weight: 300;
      text-align: center;
      padding: 6px 12px;
      appearance: none;
      background:  #fff url('../../assets/sort-down.svg') 100%/contain no-repeat;
    }
    & .select-activ {
      background:  #fff url('../../assets/sort-up.svg') 100%/contain no-repeat;
    }
  }
}


