.header {
  background-color: #35C0CD;
  display: flex;
  justify-content: space-between;
  height: 100px;
  min-height: 100px;
  align-items: center;
  letter-spacing: 0.1rem;
}

.logo {
  margin-left: 10rem;
  stroke-width: 0.5px;
  &:hover {
    cursor: pointer;
  }
  &:hover .plane {
    //animation: colorText forwards;
    fill: #DAA26F;
    transition: all 1s ease;
  }
  & #text1 {
    fill: #793D06;
  }
  & #text2 {
    fill: #793D06;
  }
  & .plane {
    fill: #05414A;
    stroke-width: 0.3px;
    transition: all 1s ease;
  }
}

.search {
  position: relative;
  display: flex;
  flex-direction: row;
  & .inputSearch {
    border: 2px solid #212121;
    color: #212121;
    min-width: 60px;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
  }
  & .cancelButton {
    background: #fff url('../../assets/cancel.svg') 0 0 no-repeat;
    height: 15px;
    padding: 9px;
    position: absolute;
    right: 90px;
    top: 10px;
    width: 15px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  & .confirmButton {
    border: 2px solid #212121;
    color: #212121;
    height: 40px;
    width: 80px;
    padding: 6px 12px;
    &:hover {
      cursor: pointer;
    }
  }
}

.selectLang {
  position: relative;
  font-family: Arial;
  margin-right: 10rem;
  & select {
    border: 2px solid #212121;
    color: #212121;
    min-width: 120px;
    height: 40px;
    padding: 6px 12px;
    appearance: none;
    background:  #fff url('../../assets/sort-down.svg') 100%/contain no-repeat;
  }
}

@keyframes colorText {
	0%   {
		fill: #9D1044;
	}
	100% {
		fill: #9D1044; 
	}
}

@keyframes colorPlane {
	0%   {
		fill: #CE4377;
	}
	100% {
		fill: #CE698E; 
	}
}