@import "../abstract/constants";

.rd__button {
  background: $color-main-green;
  color: $color-white;
  border-color: $color-main-green;
  line-height: 1;
  position: relative;
  //display: -webkit-inline-box;

  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  border-width: 1px;
  border-style: solid;
  border-radius: 3px;

  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  text-align: center;
  text-decoration: none;

  white-space: nowrap;
  padding: 11px 24px;
  box-shadow: 0 1px 1px 0 rgb(0,0,0);

  &--like--active--icon {
    display: block!important;
  }


  &--no-click {
    cursor: default;
  }

  &--with-icon {
    padding-right: .6rem;
    padding-left: .6rem;

    .svg-icon {
      width: 20px;
      height: 20px;
      margin-right: 6px;
      margin-left: 6px;
    }
  }

  &--text-primary {
    background: 0 0;
    color: $color-dropdown-li-color;
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background: 0 0;
      border-color: transparent;
      color: #1a1a1a;
    }
  }

  &--text,
  &--text-primary,
  &--text-secondary {
    display: block;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    //display: -webkit-inline-box;
    display: inline-flex;
  }

  &--collect {
    @media screen and (max-width: $content-width-little) {
      display: none;
    }
  }

  &--compact {
    padding: 6px 13px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    min-height: 32px;
  }

  &--text-white {
    background: 0 0;
    color: $color-white;
    border-color: transparent;
    box-shadow: none;
  }

  &--circle-icon {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &--white {
    background: #EEE;
    color: #1a1a1a;
    border-color: rgba(26,26,26,.15);
    max-height: 40px;
  }

  &:focus {
    outline: none;
  }

  &--text {
    background: 0 0;
    color: inherit;
    border-color: transparent;
    box-shadow: none;
  }

  &-group>*:not(.rd__dropdown):not(:last-child) {
    margin-right: .6rem;
  }

  &--with-icon-left {
    padding-top: .6rem;
    padding-bottom: .6rem;
  }
}
